<%= label_tag "Select all categories that apply:" %><br>
<div class="form-group">
  <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), multiple: true, class: "form-control" %>
</div>



