<%= form_tag(articles_search_path, :method => "get", id: "search-form") do %>
		<span class="icon"><i class="fa fa-search"></i></span>
    <%= text_field_tag :search, params[:search], class: 'input-sm col-sm', placeholder: "Search Articles", minlength: 1 %>
    <%= submit_tag "Search", class: "btn btn-info", :name => nil %>
<% end %>
