<div class="col-sm-2" id="sidebar">
  <%= render "categories/index" %>
</div>
<div class="col-sm-10" >
  <h2>Past Versions</h2>
  <%= link_to "Back", article_path(@article) %>
  <%= render @versions %>
</div>
