#sidebar { 
    list-style-type: none;
    margin: 0px;
    height: 850px;
    padding: 10px 30px;
    overflow: hidden;
    border-right: 1px solid gray;
    border-radius: 2px;
    background-color: white;
}

.panel {
    padding: 0px 2px 5px 5px;
    box-shadow: 5px 5px 5px #999999;
}
