nav ul {
    list-style-type: none;
    margin: 3px 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #ef5890;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    margin: 0px 3px;
    padding: 14px 16px;
    text-decoration: none;
}

#header-link {
    padding: 0px;
    margin: 0px 3px;
}

nav li a:hover {
    background-color: #ff91c0;
    text-decoration: none;
    color: white;
    margin: 0px 3px;
}

button {
    background-color: transparent;
    border: 0;
    padding: 14px 16px;
    color: white;
}

button:hover {
    background-color: #d9d9d9;
}

.search-bar {
    position: relative;
    margin-top: 10px;
    margin-right: 5px;
    bottom: 3px;
}

#header {
    float: left;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    font-size: 2.45em;
    color: white;
}
