<div class="col-sm-2" id="sidebar">
  <%= render "categories/index" %>
</div>
<div class="col-sm-10">
	<h1><%= @category.name %></h1>
	<ul>
    <% if @category.articles.length == 0 %>
      <p>This category doesn't have any attached articles yet!  Create an article or tag it with <%= @category.name %> </p>
    <% else %>
	   <%= render @category.articles %>
    <% end %>
	</ul>
</div>
